
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(22, 41, 47);
    font-family: 'Fraunces', serif;
    font-family: 'Kalnia', serif;
    
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 50px;
    text-align: center;
    font-size: 50px;
    color:rgb(252, 234, 186); 
    text-shadow: 4px 4px 10px black;
    transition: 1s ease;
    
}
label {
    color:rgb(252, 234, 186); 
    margin-right: 10px;
}
h1:hover {
    color: white;
    text-shadow: 4px 4px 10px rgb(255, 241, 195);
}
h2 {
    background-color: rgb(14, 27, 31);
    border: 1px solid rgba(255, 255, 255, 0.243); 
    border-radius: 10px;
    color:  rgb(252, 234, 186);
    width: 300px;
    height: 100px;
    text-align: center;
    margin: 30px;
    padding: 15px;
    transition: 1s ease;
}

h2:hover {
    box-shadow: 4px 4px 10px rgb(255, 241, 195);
}


input {
    padding: 10px;
    font-size: 16px;
    background-color: rgba(228, 199, 162, 0.582);
}

button {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5 ease;
    
}

button:hover {
    color: white;
    box-shadow: 4px 4px 10px rgb(255, 241, 195);
   
}

button:active {

    background-color: rgb(231, 213, 164);
    transform: scale(110%);
}

.level1 {
    background-color: rgb(215, 184, 179);
}
.level2 {
    background-color: rgb(215, 104, 87);
}

.level3 {
    background-color:rgb(231, 40, 10);
}
#ranking {
    margin-top: 20px;
}


  