* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Fraunces','Kalnia', serif;
}

body {
  background-color: rgb(22, 41, 47);
}

header {
  height: 100px;
}

h1 {
  margin-top: 30px;
  text-align: center;
  font-size: 35px;
  color:rgb(252, 234, 186); 
  text-shadow: 4px 4px 10px black;
  transition: 1s ease;
}

h1:hover {
  color: white;
  text-shadow: 4px 4px 10px rgb(255, 241, 195);
}

h2 {
  text-align: center;
  font-size: 16px;
  color:rgb(252, 234, 186); 
}

#container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#puntuacionContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 70px;
}

#currentScore , #movimientos, #ranking{
  background-color: rgb(22, 41, 47);
  color:rgb(252, 234, 186);
  border-radius: 10px;
  width: 100%;
  height: 80px;
  text-align: center;
  padding: 10px;
  margin: auto;
  box-shadow: -1px 1px 20px 10px rgb(81, 155, 164);
}

#ranking > h2, #scoreList {
  color: rgb(252, 234, 186);
}
#scoreList {
  margin-top: 10px;
  list-style: none;
}

#game {
  width:100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  list-style: none;
  
}

.card {
  width: 60px;
  height: 60px;
  perspective: 1000px;
}

#levelContainer {
  width: 400px;
  height: 300px;
  border-radius: 40px; 
}

.level-button {
  background-color: rgb(72, 93, 93);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 0.5rem;
}

.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card.flipped .content {
  transform: rotateY(180deg);
  transition: 0.5s;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.back {
  background-color: rgb(22, 41, 47);
  transform: rotateY(180deg);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  transition: .5s ease;
}

img:hover {
  transform: scale(110%);
  border: 1px solid rgba(255, 255, 255, 0.891);
  box-shadow: 4px 4px 10px rgb(255, 232, 173);
}

/* Estilos del modal */
.modal, .modal-resumen{
  display: flex;
  align-content: center;
  justify-content: center;
  position: fixed; 
  z-index: 1; 
  width: 100%; 
  height: 100%; 
  overflow: auto;
}

.modal-index {
  width: 100vh;
  height: 100vh;
  color:  rgb(252, 234, 186);
  margin: 0;
  background-image: url(assets/imagen-modal.jpg);
  background-size: cover;
}

#modalScoreRetry {
  text-align: center;
  width: 400px;
  height: 150px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-top: 30px;
  border: 3px solid rgba(0, 0, 0, 0);
}

#nickNameContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 50px;
}

#nickname {
  width: 200px;
  height: 40px;
  color: rgb(22, 41, 47);
  text-align: center;
}

.index1, .modal-countdown {
  background-color: rgb(22, 41, 47);
  position: relative;
  top: 70px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 260px; 
  height: 70%;
  margin: auto;
  border-radius: 60px;
  box-shadow: 7px 7px 10px black;
}

#levelContainer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  border:none; 
}

.starting {
  font-size: 30px;
  text-align: center;
}

.empty-space {
  height: 120px;
}

.countdown {
  text-align: center;
  font-size: 120px;
  height: 120px;
}

.error-color {
  color: red;
}
/*Estilo boton modal*/

button{
  margin-top: 30px;
  width: 110px;
  height: 110px;
  text-align: center;
  justify-content: center;
  background-color: rgb(238, 144, 50);
  cursor: pointer;
  border: none;
  color: #ffffff;
  font-weight: bold;
  position: relative;
  border-radius: 50%;
}

button::after {
  content: ''; 
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgb(255, 217, 122);
  border-radius: 50%;
  animation: pulser 3s ease-in-out infinite;
}

@keyframes pulser {
  0% {
    opacity: 0;
  }
  50% {
    scale: 1.5;
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}

/* Estilos de barra cuenta atrás */
.bar-container {
  position: absolute;
  top: 8rem;
  width: 100%;
}

.bar {
  height: 10px;
  width: 100%;
  border: 0;
  background-color: blue;
}

.bar-lv1 {
  animation: timer 7s;
  animation-delay: 4s;
}

.bar-lv2 {
  animation: timer 4s;
  animation-delay: 4s;
}

.bar-lv3 {
  animation: timer 2s;
  animation-delay: 4s;
}

@keyframes timer {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
    background-color: red;
  }
}

.hide {
  display: none;
}

/* aciertos en las parejas */
.accept {
  animation: cards 0.4s alternate ease-in;
}

@keyframes cards {
  0% {transform: scale(1);}
  50% {transform: scale(1.5);}
}
/*Media query para el responsive----------------------------------*/

@media (width > 600px) {
 /*para Ipad o tablet*/
  h1 {
    margin-top: 40px;
    font-size: 50px;
  }

  .bar-container {
    top: 10rem;
  }

  #game {
    margin-top: 100px;
  }
  .card {
    width: 120px;
    height: 120px; 
  }

  #puntuacionContainer {
    width: 495px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 100px;
    gap: 0;
  }
  
  #currentScore , #movimientos, #ranking{
    width: 150px;
    height: 100px;
  }

  /*Modal: primera pantalla*/

  .index1 {
    margin-top: 60px;
    width: 70%;
    height: 70%;
  }

  .index1 h2 {
    font-size: 30px;
  }

  .index1 label {
    font-size: 30px;
  }

  button{
    width: 150px;
    height: 150px; 
    margin-top: 40px;
  }

  #nickNameContainer {
    font-size: 20px;
  }

}

@media (width > 900px) {
  /*Para Desktop*/

  h1 {
    margin-top: 50px;
    font-size: 100px;
  }

  .bar-container {
    top: 16rem;
   
  }
  .bar {
    height: 15px;
  }

  #container {
    display: flex;
    flex-direction: row;
    gap: 50px; 
    min-height: 1000px;
    min-width: 1400px;
  }

  #game {
    width: 70%;
    gap:10px; 
    margin:0;
  }

  .card {
    width: 150px;
    height: 150px; 
  }

  #puntuacionContainer {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  #currentScore , #movimientos, #ranking{
    width: 100%;
    height: 120px;
    font-size: 30px;
  }

  h2 {
    font-size: 24px ;
  }

  /*modal: pantalla principal*/

  .modal-index {
    width: 100%;
    height: 100%; 
    color:  rgb(252, 234, 186);
    margin: 0;
    background-image: url(assets/imagen-modal.jpg);
    background-size: contain;
  }

  .index1 {
    margin-top: 100px;
    width: 30%;
    height: 70%;
    padding: 0;
    min-width: 500px;
  }

  .index1 h2 {
    font-size: 40px;
  }

  .index1 label {
    font-size: 40px;
  }

  button{
    width: 200px;
    height: 200px; 
    margin-top: 60px;
    font-size: 24px;
  }

  #nickNameContainer {
    font-size: 30px;
    width: 80%;
    margin-bottom: 50px;
  }

  #nickNameContainer input {
    font-size: 24px;
    height: 50px;
  }

  #levelContainer {
    width: 80%;
  }

  .starting {
    font-size: 70px;
  }
  .modal-countdown {
    width: 1000px;
  }

}